/*
TODO: Fix content break line showing in the background of navbar text
TODO: Vertical align content within the containers
TODO: Fix using max width on p element disables the center text alignment and shifts it to the left
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #fefefe;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-bottom: black 2px solid;
    display: flex;
}

nav img {
    padding: 0px 5px;
    filter: invert(90%);
}

nav a {
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
    transition: 0.2s;
}

nav a:hover {
    filter: invert(100%);
}

.container {
    text-align: center;
    padding: 50px 0px;
    width: 100%;
}

/* .container p {
    max-width: 50%;
} */

.content-break {
    margin: 15px auto;
    height: 1px;
    width: 60%;
    background-color: #333;
    opacity: .4;
}

form input {
    margin: 7px 3px;
    padding: 3px 2px;
}

#submit {
    padding: 3px 7px;
}

footer {
    margin-top: 3%;
    text-align: center;
    font-size: small;
}
